<ng-include src="'partials/menubar.html'" ng-controller="MenubarCtrl"></ng-include>
<div id="aboutView">
    <div class="container">
        <div class="col-md-7" ng-if="getLanguage()==='EN'">
            <h1 class="sansserif">What is this?</h1>
            <p>A project made by Björn Annergren and Lisa Lama, (group 31) for the DH2642 course at KTH.</p>
            <p>It's powered by Angular 1.X, Google Maps Api, Brottsplatskartans Open Api and Node</p>
        </div>
        <div class="col-md-7" ng-if="getLanguage()==='SE'">
            <h1 class="sansserif">Vad är detta?</h1>
            <p>Ett projekt gjort av Björn Annergren och Lisa Lama, grupp 31, för DH2642 på KTH.</p>
            <p>Byggt på Angular 1.x, Google Maps, Brottsplatskartans och Node.</p>
        </div>
    </div>
</div>
