<ng-include src="'partials/menubar.html'" ng-controller="MenubarCtrl"></ng-include>
<div id="crimesView">
    <div class="container">
        <div class="col-md-7" ng-if="getLanguage()==='EN'">
            <h1>Incidents</h1>
                <p>Not implemented</p>
        </div>



        <div class="col-md-7" ng-if="getLanguage()==='SE'">
            <h1>Händelser</h1> 	
            <p>Inte implementerad</p>
        </div>



    </div>
</div>

