<!-- Home view -->
<ng-include src="'partials/menubar.html'" ng-controller="MenubarCtrl"></ng-include>
<div id="homeView">

    <div class="container">
        <div class="col-md-7" ng-if="getLanguage()==='EN'">


            <h1 class="sansserif">Welcome to CriMap</h1>
            <p>
            <br><br>CriMap is a webapp that lets you see recent criminal incidents close to a desired location. Go to Map and type in
            the desired area in the search box and recent incidents/crimes will be pinned on the map! If you are signed in you will be able 
            to track locations for further future monitoring.  
            <br><br>Enjoy!
            

            </p>
        </div>
        <div class="col-md-7" ng-if="getLanguage()==='SE'">

            <h1 class="sansserif">Välkommen till CriMap</h1>
            <p>
            </br></br>
            CriMap är en webbapplikation som låter en se nyliga kriminella incidenter nära en viss plats.
            Klicka på Karta och mata in platsen av intresse i sökrutan och incidenter kommer markeras på kartan!
            Om man är inloggad kan man även spåra platser.
            </br></br>
            Njut!
            </p>
        </div>

        <div class="col-md-4">
            <div class="col-md-12">

            </div>

            <div class="col-md-12" ng-if="getLanguage()==='EN'">
            	
            	 <div ng-if="check()===true">
        		<p>Signed in as: {{id}} </p>
       			 </div>
                <br><br><a href="#!/map" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-map-marker"></span> MAP
                </a>
            </div>
            <div class="col-md-12" ng-if="getLanguage()==='SE'">

             <div ng-if="check()===true">
        		<p>Inloggad som: {{id}} </p>
       			 </div>
                <br><br><a href="#!/map" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-map-marker"></span> KARTA
                </a>
            </div>

        </div>


    </div>
</div>
