<ng-include src="'partials/menubar.html'" ng-controller="MenubarCtrl"></ng-include>
<!-- Log in view -->

<div id="loginView">
    <div class="wrapper">
       
       		
        	<div class="col-md-7" ng-if="getLanguage()==='EN'">
        	<form class="form-signin">
            <div ng-if="checkIfLoggedIn()">
                <h3>Are you sure you want to be signed out? <br>Locations added won't continue to be associated with your account!</h3>
                <button ng-click = "signOut(); loginCheck() " class="btn btn-lg btn-default2 btn-block" type="submit">Log Out</button>
            </div>

            <div ng-if="checkIfLoggedIn()===false">
                <h2 class="form-signin-heading">Sign in</h2>
                <input ng-model= "email" type="email" class="form-control" name="username" placeholder="Email"/>
                <br><input ng-model = "password" type="password" class="form-control" name="password" placeholder="Password" required=""/>
                <br><br><button ng-click = "signIn(email, password);loginCheck();" class="btn btn-lg btn-default2 btn-block" type="submit">Login</button> </div>
         </form>
        </div>
       

        	<div class="col-md-7" ng-if="getLanguage()==='SE'">
        	<form class="form-signin">
            <div ng-if="checkIfLoggedIn()">
                <h3>Är du säker på att du vill logga ut? <br>Lägger du till platser kommer dem ej att bli associerade med ditt konto!</h3>
                <button ng-click = "signOut(); loginCheck() " class="btn btn-lg btn-default2 btn-block" type="submit">Logga ut</button>
            </div>

            <div ng-if="checkIfLoggedIn()===false">
                <h2 class="form-signin-heading">Logga in</h2>
                <input ng-model= "email" type="email" class="form-control" name="username" placeholder="Email"/>
                <br><input ng-model = "password" type="password" class="form-control" name="password" placeholder="Password" required=""/>
                <br><br><button ng-click = "signIn(email, password);loginCheck();" class="btn btn-lg btn-default2 btn-block" type="submit">Logga in</button> </div>
        </form>
        </div>


 </div>
</div>
