<!-- We'll need to add the sidebar here as soon as it's finished -->
<ng-include src="'partials/menubar.html'" ng-controller="MenubarCtrl"></ng-include>
<ng-include src="'partials/sidebar.html'" ng-controller="LocationCtrl"></ng-include>

<div class='col-xs-10' id="mapView">
    <div class="row" >
        <div class="col-xs-12" id="mapContainer" >
            <ng-map center="{{initCoordinates}}" zoom="12" mayTypeId="TERRAIN">
                <div ng-repeat ="incident in events" >
                    <marker id= "{{incident.id}}" position="[{{incident.lat}}, {{incident.lng}}]" on-click ="showDetail(event,{{incident}})"></marker>
                </div>
            <info-window id="eventinfo" position="[{{currentEvent.lat}}, {{currentEvent.lng}}]">
                <div>
                    <div id="bodyContent">
                        <b> {{currentEvent.pubdate_iso8601}}: {{currentEvent.description}} </b></br>
                        {{currentEvent.content}}
                    </div>
                </div>
            </info-window>
            </ng-map>

        </div>
    </div>
</div>
