<div class="col-xs-12" id = "menubarView">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CriMap</a>
            </div>
            <ul class="nav navbar-nav" ng-if="language==='EN'">
                <li> <a href="#!/map">MAP</a></li>
                <li><a href="#!/about">ABOUT</a></li>

            </ul>

            <ul class="nav navbar-nav" ng-if="language==='SE'">
                <li> <a href="#!/map">KARTA</a></li>
                <li><a href="#!/about">OM</a></li></ul>


            <ul class="nav navbar-nav navbar-right" >
                <li><span class="flag-icon flag-icon-se flag-icon-squared"  ng-click="setLanguage('SE')"></span></li>
                <li><span class="flag-icon flag-icon-gb flag-icon-squared"  ng-click="setLanguage('EN')"></span></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-if="language==='EN'">
                <li><a href="#!/login">{{login}}</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-if="language==='SE'">
                <li><a href="#!/login">{{loginsv}}</a></li>
            </ul>

            

            <ul class="nav navbar-nav navbar-right" ng-if="language==='EN' && check()===true">
            <li><a href="#!/crimes">INCIDENTS</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-if="language==='SE' && check()===true">
            <li><a href="#!/crimes">HÄNDELSER</a></li>
            </ul>
</div>
</nav>
</div>
