<!-- Sidebar View -->
<div id="sidebarView">
    <div class="col-xs-2" id="sidebar">
        <div class="row">
            <div class="col-xs-12 text-center" id="searchBox" >
                <br/>
                <input places-auto-complete size=20
                                               ng-model="address"
                                               component-restrictions="{country:'se'}"
                                               types ="['geocode']"
                                               on-place-changed="placeChanged()" />
                <br/>
                <br/>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 text-center" ng-if="getLanguage()==='EN'">
                <div class="btn btn-default" id="addLocation" ng-click="addLocation()">ADD LOCATION</div>
            </div>
            <div class="col-xs-12 text-center" ng-if="getLanguage()==='SE'">
                <div class="btn btn-default" id="addLocation" ng-click="addLocation()">LÄGG TILL PLATS</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center" ng-if="getLanguage()==='EN'" >
                <h4><b>Tracked locations</b></h4>
                {{locationStatus}}
            </div>
            <div class="col-xs-12 text-center" ng-if="getLanguage()==='SE'" >
                <h4><b>Spårade platser</b></h4>
                {{locationStatus}}
            </div>
        </div>
        <div class='row' id='locations' ng-repeat="location in getTrackedLocations() track by location.id">
            <a class="col-xs-10 " ng-click="placeChangedManually(location)">
                {{location.name}}
            </a>
            <div id='removeLocation' class='col-xs-2 pull-right'>
                <button type='button' class='btn pull-right btn-default btn-xs' id='change' ng-click="removeTrackedLocation(location.id)">
                    <span class='glyphicon glyphicon-remove'>
                </button>
            </div>
        </div>
    </div>
</div>
