p {
    font-family: "Calibri", Times, serif;
    font-size: 21px;
}

p1 {
    font-family: "Calibri", Times, serif;
    font-size: 15px;
}

h1 {
    font-size: 50px;
    font-weight: 900;
}

h2 {
    font-size: 50px;
    font-weight: 900;
    color: #fff
}

a:hover{
     font-family: "Calibri", Times, serif;
     color:#929293;
}
a {
     font-family: "Calibri", Times, serif;
     color:#000000;
}
h3 {
    font-weight: 900;
    color: #FFF;
}

ng-map{
    height: 95%;
}

.navbar-inverse {
    background-color: #000000;
    border-radius:0;
    margin-bottom:0;

}

.btn-default:hover{
  background-color: #929293;
}
.btn-default {
  background-color: #000000;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:0;
}

.btn-default1 {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.btn-default2 {
  background-color: #808080;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

body {
  font-family: "Calibri", Times, serif;
	background: #eee;
}

.wrapper {

padding: 100;
padding-left: 400;
margin-top: 0px;
 margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #000000;
  border: 1px solid rgba(0,0,0,0.1);

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}


	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 50px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}

#mapView{
    border-left:solid;
}
#mapContainer{
    padding:0;
}
#searchContainer{
    background-color:#FFFFFF;
}

#menubarView {
	padding: 0;
	margin: 0;

}
.flag-icon{
    margin-top: 18px;
    margin-right: 5px;
}
